.navigation {
	position: relative;
	width: 100%;
	float: left;
	.nav-item {
		float: left;
		width: 120px;
		padding: 10px 0;
		border: 1px solid #d0d0d0;
		text-align: center;
		text-decoration: none;
		font-size: 1.2em;
		color: #000;
		cursor: pointer;
	}

	.nav-item.active {
		font-weight: bold;
	}
}