.logs table {
    border-spacing: 16px;
    max-height: 600px;
    overflow: auto;
    display: block;
    border: 1px solid #d0d0d0;
    width: 100%;
}

.logs td, .logs th {
    padding: 4px 8px 4px 8px;
}

.logs th {
    font-weight: bold;
    color: #333;
}